@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Born To Move!</h1>
    <p>
        Looks like you have been inactive for too long, it's time to start moving!
        <br>
        <br>
        Do you want to choose:
        <ul>
            <li>An exercise suggestion?</li>
            <li>An exercise from our exerciselist?</li>
        </ul>
    </p>
</div>
